<mat-toolbar color="accent" class="header">
  <div class="buttonToggle" >
    <button (click)="onSidebarToggle(sideNav)" 
    disableRipple mat-button [ngClass]="expanded?'sideBarButtonRotated':'sidebarButton'"
    ><mat-icon>play_circle_filled</mat-icon></button>
  </div>
    <a [routerLink]="['/Home']" routerLinkActive="router-link-active"
     style="margin-left: -35rem;" mat-icon-button class="title">
      Kawaii ツ
</a>
  <div>
    <mat-nav-list fxLayout="row">
      <a [routerLink]="['/Home']" routerLinkActive="router-link-active"  class="mat-display-1" >
      <mat-icon>home</mat-icon>
      Home
      </a>
      <a [routerLink]="['/About']" routerLinkActive="router-link-active" class="mat-display-1" >
        <mat-icon>information</mat-icon>
        About</a>
      <a [routerLink]="['/Contact']" routerLinkActive="router-link-active"  class="mat-display-1" >
        <mat-icon>phone</mat-icon>
        Contact</a>
  </mat-nav-list>
  </div>
    
</mat-toolbar>
<mat-sidenav-container class="sidebar">
    <mat-sidenav #sideNav mode="side" align="start" opened>
      <mat-nav-list>
        <mat-list-item> 
        <a [routerLink]="['/Cats']" routerLinkActive="router-link-active"  class="mat-headline" >
        <mat-icon svgIcon="cat"></mat-icon>
        Cats
        </a>
      </mat-list-item>
    <mat-list-item>
        <a [routerLink]="['/Dogs']" routerLinkActive="router-link-active"  class="mat-headline" >
          <mat-icon svgIcon="dog"></mat-icon>
          Dogs</a>
        </mat-list-item>
      <mat-list-item>
        <a [routerLink]="['/Foxes']" routerLinkActive="router-link-active"  class="mat-headline" >
          <mat-icon svgIcon="fox"></mat-icon>
          Foxes</a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/Shibe']" routerLinkActive="router-link-active"  class="mat-headline" >
            <mat-icon svgIcon="shibaInu"></mat-icon>
            Shiba Inu</a>
          </mat-list-item>
          <mat-list-item>
            <a [routerLink]="['/Bunnies']" routerLinkActive="router-link-active"  class="mat-headline" >
              <mat-icon svgIcon="bunny"></mat-icon>
              Bunnies</a>
            </mat-list-item>
            <mat-list-item>
              <a [routerLink]="['/Llamas']" routerLinkActive="router-link-active"  class="mat-headline" >
                <mat-icon svgIcon="llama"></mat-icon>
                Llamas</a>
            </mat-list-item>
            <mat-list-item>
              <a [routerLink]="['/Alpacas']" routerLinkActive="router-link-active"  class="mat-headline" >
                <mat-icon svgIcon="alpaca"></mat-icon>
                Alpacas</a>
            </mat-list-item>
            <mat-list-item class="noClick"></mat-list-item>
            <mat-list-item class="noClick"></mat-list-item>
            <mat-list-item class="noClick"></mat-list-item>            
            <mat-list-item >
              <small style="position: absolute;bottom: 0;">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
            </mat-list-item>
    </mat-nav-list>
    </mat-sidenav>
    
</mat-sidenav-container>

<div class="bg" [ngClass]="expanded?'maincontent':'maincontentExpanded'"><router-outlet></router-outlet></div>
