html{
 height: 100%;
 margin: 0;
}
body{
    margin-left: 11px;
    height: 100%;
 padding: 0;
}
mat-toolbar a{
    margin:1.4rem;
}
.mainMenu{
    display: flex;
    justify-content: space-between;
    
}
.otherMenu{
    display: none;
}
@media (max-width: 1080px) {
    .mainMenu{
        display: none;
        justify-content: space-between;
    }
    .otherMenu{
        display: block;
    }
    .menuIcon{
        margin-top:1rem
    }
}
.header{
    justify-content: space-between;
    display: flex;
    position: relative;
    z-index:1000;
}
mat-toolbar{
    height:fit-content;
}

mat-toolbar .mat-icon {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    vertical-align:middle;
  }

  .title{
      font-size: 5rem;
  }

  mat-sidenav{
      width:200px;
      height: fit-content;
      background-color: white;
  }

  mat-sidenav-container{
      height:100%;
      width: fit-content;
      float: left;
      position: sticky;
  }
 
  .buttonToggle{
      margin-right: 1rem;
      -webkit-box-shadow: none;
	  -moz-box-shadow: none;
      box-shadow: none;
  }
  
  .buttonToggle .mat-icon{
      margin-top: 1rem;
      margin-left: -2.5rem;
      margin-right:0rem;
  }

  mat-sidenav{
      height: auto !important;
  }

 mat-list-item .mat-icon{
    margin-top: 1.4rem;
    margin-left: -1rem;
    margin-right:1rem;
}

mat-list-item a{
    margin-bottom: 2rem;
    margin-left: 1rem;
    color: orchid;
}


.bg{
    background-image: url(../assets/backgrounds/hellokitty.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height:86.5%
  }

  .sidebar{
      position: relative;
      overflow: hidden;
      height: 86.5%;
  }

  .maincontent{
      display: flex;
      flex-direction: column;
      -webkit-transition: width 0.4s ease;  
      -moz-transition: width 0.4s ease;  
      -o-transition: width 0.4s ease;  
      -ms-transition: width 0.4s ease;  
      transition: width 0.4s ease;
      width:85.2%;
      float: right;
  }

  .maincontentExpanded{
    display: flex;
    flex-direction: column;
    -webkit-transition: width 0.4s ease;  
    -moz-transition: width 0.4s ease;  
    -o-transition: width 0.4s ease;  
    -ms-transition: width 0.4s ease;  
    transition: width 0.4s ease;
    width:100%;
    float: right;
}

.sidebarButton{
      transform: rotate(0deg);
      -webkit-transition: all 0.4s ease;  
      -moz-transition: all 0.4s ease;  
      -o-transition: all 0.4s ease;  
      -ms-transition: all 0.4s ease;  
      transition: all 0.4s ease;
      display: flex;
      align-items: center;
      justify-content: center;
}

.sideBarButtonRotated{
      transform: rotate(-180deg);
      -webkit-transition: all 0.4s ease;  
      -moz-transition: all 0.4s ease;  
      -o-transition: all 0.4s ease;  
      -ms-transition: all 0.4s ease;  
      transition: all 0.4s ease;
      display: flex;
      align-items: center;
      justify-content: center;
}

